# Created by venv; see https://docs.python.org/3/library/venv.html
*

venv/
pyvenv/
Lib/
Include/
Scripts/


.idea/


docker-compose


*.log
*.tmp


nginx/*


!nginx/ui_app/
!nginx/ui_app/index
!nginx/ui_app/requests_async
!nginx/ui_app/style
!nginx/Dockerfile


!nginx/config/



sample/*
!sample/README
